      .button-replaced .cropit-image-input{
        width: 0;
        height: 0;
        opacity: 0;
      }
      html.ie .button-replaced .cropit-image-input{
        width: auto;
        height: auto;
        opacity: 1;
      }
      html.ie .cropit-fake-button{
        display: none;
      }

      .cropit-fake-button{
        cursor: pointer;
      }

      .cropit-saved-image{
        width: 250px;
        height: 250px;
        border: 1px solid #223344;
      }

      .cropit-image-preview {
        background-color: #f8f8f8;
        background-size: cover;
        border-radius: 3px;
        cursor: move;
      }



      img.cropit-image-background {
        opacity: .2;
        cursor: auto;
        max-width: none;
      }

      .image-size-label {
        margin-top: 10px;
      }

      input {
        display: block;
      }

      button[type="submit"] {
        margin-top: 10px;
      }

      #result {
        margin-top: 10px;
        width: 900px;
      }

      #result-data {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }